*{
	
	margin:0;
	padding:0;
	
}
body{
	width:100%;
	height:100%;
	min-height:100vh;
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(67,144,233,1) 0%, rgba(78,226,198,1) 90.1% );
}

/*----draggable-----*/

#draggable{
	width:100%;
	display: flex;
	justify-content: center;
}

#draggable ul{
	
}



#draggable ul li{
	width:70px;
	height:70px;
	padding:40px;
	border:2px solid #fff;
	list-style:none;
	margin-left:40px;
	position:relative;
	text-align:center;
	
}

ul{
	display:inline-flex;
}


/*-----FRUITS BACKGROUND---*/

#draggable ul li:nth-child(1){
	background:url("img2/аюу.png");
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	animation:5s animate infinite linear;
	animation-delay:1s;
	margin-top:80px;
	
}

#draggable ul li:nth-child(2){
	background:url("img2/tiger.jpg");
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	animation:5s animate infinite linear;
	animation-delay:2s;
	margin-top:80px;
	
}

#draggable ul li:nth-child(3){

	background:url("img2/lion.jpg");
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	animation:5s animate infinite linear;
	animation-delay:3s;
	margin-top:80px;
}


#draggable ul li:nth-child(4){

	background:url("img2/dog.jpg");
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	animation:5s animate infinite linear;
	animation-delay:4s;
	margin-top:80px;
	
}


#draggable ul li:nth-child(5){

	background:url("img2/turkey.jpg");
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	animation:5s animate infinite linear;
	animation-delay:4.5s;
	margin-top:80px;
	
}


#draggable ul li:nth-child(6){
	
	background:url("img2/squirrel.jpg");
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	animation:5s animate infinite linear;
	animation-delay:5s;
	margin-top:80px;
}

#draggable ul li:nth-child(7){
	
	background:url("img2/owl.jpg");
	
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	animation:5s animate infinite linear;
	animation-delay:5.5s;
	margin-top:80px;
}


/*----droppable-----*/

#droppable{
	width:100%;
	margin-top:150px;
	display: flex;
	justify-content: center;
}

#droppable ul li{
	border:1px solid;
	padding:50px 35px;
	list-style:none;
	margin-left:10px;
	
}


p{
	
	color:#000;
	font-family:tahoma;
	font-size:20px;
	text-align:justify;
	letter-spacing:1px;
	font-weight:bold;
	padding:20px;
	
}

.menu {
	padding-top: 0.5%;
	margin: auto;
	text-align: center;
	width: 100%;
}
input {
	height: 30px;
	background: linear-gradient(45deg,#C5DDE8, #EECFBA);
	border: none;
	border-radius: 2px;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
	padding: 5px;
}

